<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deltaworks.pracble">

    <!--<uses-permission android:name="android.permission.BLUETOOTH" />                &lt;!&ndash;블루투스&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <uses-permission android:name="android.permission.BLUETOOTH" />                <!--블루투스-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />          <!--블루투스-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />   <!--내부 저장소 쓰기-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />    <!--내부 저장소 읽기-->
    <uses-permission android:name="android.permission.INTERNET" />                 <!--인터넷-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />     <!--네트워크 상태 접근-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />            <!--주소록 읽기, 내 전화번호도-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />   <!--gps-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />     <!--gps-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />    <!-- 부팅시 서비스 시작하는 기능 권한-->



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance"/>

        <activity android:name="SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MainService"
            android:exported="false" />

        <!--브로드캐스트리시버-->
        <receiver android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="action_alarm_dtg_data" />
                <action android:name="action_alarm_dtg_location" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ServiceStartReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="action_alarm_wake_up_service" />
            </intent-filter>
        </receiver>

    </application>

</manifest>